# Prerequisites
*.d

# Tools files
.vscode/
.cache/
compile_commands.json

# Compiled Object files
*.slo
*.lo
*.o
*.bc

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Files from tools
.cache/

# PGXS files
results/
regression.diffs
regression.out
compile_commands.json
